.container-item-detail{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content: center;
}
/* Container con fotos e informacion comercial del producto */
.container-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-detail{
    font-size: 26px;    
}
.img-detail{
    max-width: 300px;
}
.container-producto button{
    width: 200px;
    font-family: 'Oswald', sans-serif;
    background-color:#FFD460;
    font-size: 22px;
    height: 36px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.container-producto button:hover{
    transform: scale(1.05);
}
.finalizar-compra-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 12px;
}
.finalizar-compra{
    font-family: 'Oswald', sans-serif;
    height: 36px;
    width: 180px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    color: #fff;
    background-color: #d61313;
    cursor: pointer;
}
.finalizar-compra:hover{
    background-color: #a81010;    
}
/* Container con informacion adicional deel producto */
