.container-item-detail{
    display: block;
    flex-direction: column;
    background-color: rgb(201, 189, 189);
    padding: 16px;
    max-width: 600px;
    max-height: 600px;
    border-radius:8px;
    margin: 36px;
}
.title{
    font-size: 22px;
    margin-bottom: 10px;
}
.image-detail{
    border-radius: 6px;
    padding: 16px;
}
.price-detail{
    font-weight: 600;
    margin-left: 16px;
}
.description{
    margin-left: 16px;
    font-weight: 600;
    font-size: 18px;
}