.container-item-detail{
    height: 100vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%  ;
    font-family: 'Oswald', sans-serif;
}
/* Container con fotos e informacion comercial del producto */
.container-producto{
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 60px;    
}
.title-detail{
    font-size: 26px;    
}
.img-detail{
    max-width: 300px;
}
.opciones{
    display: flex;
    flex-direction: column;
    margin: 6px;
}
.container-producto button{
    width: 200px;
    font-family: 'Oswald', sans-serif;
    background-color:#FFD460;
    font-size: 22px;
    height: 36px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.container-producto button:hover{
    transform: scale(1.05);
}
/* Container con informacion adicional deel producto */
