.container-cart-final{  
   min-height: 100vh;
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 4rem;
   flex-wrap: wrap;
   color: #fff;
}
.container-cart{
    display: flex;  
    flex-direction: column;
    align-items:flex-start;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 50%;
    max-height: 600px; 
}
.table-container{
    overflow-y: scroll;
    width: 100%;
}
.tr-item-row{
    background-color: #000;
    height: 45px;
    color: #fff;
}
.tr-item-row th{
    padding: 12px;    
    font-size: 22px;
}

.tr-item td img{
    max-width: 60px;
}
.tr-item td{
    font-size: 20px;
}
.container-cart-final table{
    width: 100%;
}
/* Empty */
.empty{    
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-height: 100vh;
}
.empty button{
    height: 45px;
    width: 220px;
    font-size: 18px;
}
.precio-final-cart{
    font-size: 28px;
    margin-top:30px ;
}
