.CartIcon{
    display: flex;
    width: 45px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.CartIcon:hover{

    border-bottom: 2px solid #000;
}

@media (max-width: 425px){
    .CartIcon {
        margin: 0;
    }
}   
