.container-item-counts{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 2rem;
    align-items: flex-start;
    align-items: center;
}
.container-btn{    
    width: 100%;
    display: flex; 
    justify-content: center;  
}
.i-btn{
    width: 40px;
    height: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.i-btn:active{
    transform: scale(1.15);
}
.amount-item{
    color: #fff;
    font-size: 24px;
}
.btn-carrito{
    width: 300px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
