*{
    padding: 0;
    margin: 0;
    
}
.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 380px;
    flex-wrap: wrap;
    margin: 32px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: #D7C0AE;
    justify-content: space-evenly;
    transition: 0.1s all ease-out;
    cursor: pointer;
}
.container-card:hover{
    transform: scale(1.01);
}
.img-card{
    width: 160px;
    height: 200px;
    padding: 8px;
    border-radius: 10px;
}
.title-card{
    padding: 2px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.description-card{
    font-size: 12px;
    color: #fff;
    padding: 2px;
}
.price-card{
    color: #fff;
    font-size: 18px;
}