.container-item-counts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 235px;
    background-color: #bdb9b7;
    border-radius: 10px ;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.55);
    transition: 0.2s all ease-in;
}
.container-item-counts:hover{
    scale: 1.02;
}
.item-name{
    font-size: 16px;
    font-weight: 600;
    padding: 3px 3px;
    width: 100%;
    text-align: center;
    background-color: #bdb9b7;   
    color: #000; 
}
.container-btn{
    background-color:#fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
    align-items: center;
    padding: 5px 15px;
    border-radius: 6px;
    border: 1px solid #bdb9b7;
}
.btn-item-counts{
    width: 32px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: #bdb9b7;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: block;   
    transition: 0.2s all ease-in; 
    
}
.btn-item-counts:hover{
    color: #212121;
}
.amount-item{
    font-size: 18px;
    font-weight: 400;
}
.btn-carrito{
    border: 1px solid #bdb9b7;
    width: 100%;
    height: 50px;
    background-color: #eceff1;
    font-size: 16px;
    border-radius: 0 0 10px 10px ;

}
.btn-carrito:hover{
    background-color: #fbcfb9;
    color: #212121;
}
.img-card{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0 ;
}
