*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.navbar{
 display: flex;
 flex-direction: row;
 align-items: center;
 height: 65px;
 padding: 0 300px 0 300px;
 font-family: 'Oswald', sans-serif;
 width: 100%;
 justify-content: space-evenly;
}
/* Links de Navegacion */
.links-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.links-navbar li{
  margin: 0 15px 0 15px;
  width: 135px;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  transition: 0.2s all ease;
}
.links-navbar li:hover{
  background-color: #bf1111ce;
}
.links-navbar a{
  text-decoration: none;
  color: #000;
  font-size: 21px;  
  font-weight: 600;
}
.links-navbar a:hover{
  color: #fff;
}
/* Links usuario */
.links-extra{
  display: flex;
  flex-direction:row;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
}
.links-extra li{
 width: 135px;
 text-align: center;
 border-radius: 12px;
 transition: 0.2s all ease;
}
.links-extra li:hover{
  background-color: #bf1111ce;
}
.links-extra li a{
  text-decoration: none;
  color: #000;
  font-size: 21px;  
  font-weight: 600;
}
.links-extra li a:hover{
  color: #fff;
}
/* Logo */
.logo img{
  width: 60px;
  height: 50px;
}
.logo{
  display: flex;
  width: 260px  ;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.logo:hover{
  background-color: #bf1111ce;
  border-radius: 16px;
}

