*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .navbar{
    display: flex;
    background-color: #2e2d3d;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
 .brand{
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem;
    display: flex;
 }
 .brand img{
   width: 35px;
   height: 35px;
   margin: 0px 5px;
 }
 .navbar-links ul{
    display: flex;    
 }
 .navbar-links li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
 }
 .navbar-links li:hover{
    background-color: #949885;
 }
 .toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
 }
 .toggle-btn .bar{
    height: 4px;
    width: 100%;
    background-color: #949885;
    border-radius: 10px;    
 }

 @media (max-width: 425px){
    .toggle-btn{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
     }
     .navbar-links{
         display: none; 
         width: 100%;  
         transition: 0.5 all ease;
     }
     .navbar-links-active{
         display: block;
         width: 100%;
     }
     .navbar-links-active ul{
         display: flex;
         list-style: none;      
         width: 100%;
         flex-direction: column;
     }
     .navbar-links-active li{
         width: 100%;
         padding: 6px 15px; 
         background-color: #88939a;  
     }
     .navbar-links-active li a{
      text-decoration: none;
      color: #fff ;
      font-weight: 600;
      font-size: 18px;
  }     
     .navbar{
         flex-direction: column;
         align-items: flex-start;
     }
 }