.welcome-container{
    min-height: 100vh;
    color: #fff;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 12rem 0 12rem;
}
.greetings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-top: 4rem;
}
.greetings h2{
    font-size: 60px;
    width: 50%;
}
.greetings img{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #7a1117;
    width: 300px;   
    height: 300px;
    padding: 7rem 5rem 2rem 5rem;
}
.quienes-somos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 6rem;
}
.quienes-somos h5{    
    width: 60%;
    font-size: 18px;
    font-weight: 400;
}
.btn-comprar-ahora{
    margin-top: 30px;
    height: 60px;
    width: 160px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    border-radius: 16px;
}
.btn-comprar-ahora:hover{
    background-color: #7a1117;
    color: #fff;
    border: none;
}
