.welcome-container{
    height: 100vh;
    margin-top: -65px;
    padding: 0 65px 0 65px;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    display: block;
}
.greetings{
    position: relative;
    font-size: 52px;
    top: 10rem;
}
.triangulo{
    background-color: #D61313;
    height: 180px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    left: 46rem;    
}
.triangulo img{
    width: 100px;
    position: relative;
    top: 26px;
}
.quienes-somos h5{
    font-size: 26px;
    margin-top: 16px;
    width: 600px;
}
.fondo-imagen{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #f7f31bc2;
    width: 1600px;
    height: 1600px;
    position: relative;
    bottom: 26rem;
    left: 46rem;    
}

