.banner-container{
   align-self: center;
   justify-self: center;
   display: flex;
   flex-direction: column;
   margin-top: 35px;
}

.banner-img{
    border-radius: 16px;
}

.about-us{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    width: 1200px;
}