.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.banner-img{
    display: block;
    margin: auto 0;
    width: 96%;
}